{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    {% if show_wizard_button %}
    <li>
        <a href="{% url 'admin:psychotest_test_wizard' %}" class="addlink">
            {% trans '테스트 마법사로 추가' %}
        </a>
    </li>
    {% endif %}
    {% if show_import_button %}
    <li>
        <a href="{% url 'admin:psychotest_test_import' %}" class="addlink">
            {% trans 'Excel로 일괄 등록' %}
        </a>
    </li>
    {% endif %}
{% endblock %}